<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="dishpage">
    <div class="dish">
        <h1>{{dish_name}}</h1>
        <div>{{ingredients}}</div>
        <div>{{recipe}}</div>
    </div>

    <div class="reviews">
        <h1>Reviews for {{dish_name}}</h1>
        <div>
            {{#each reviews as |review|}}
            <div>{{stars}}</div>
            <div>{{comment}}</div>
            <div>{{user.username}} on {{date}}</div>

            {{/each}}
        </div>
    </div>
</div>